<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>943234074628-uofrvf4tg1rdk4nj7be8r1d8328g1br0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.943234074628-uofrvf4tg1rdk4nj7be8r1d8328g1br0</string>
	<key>API_KEY</key>
	<string>AIzaSyDpwTlIY55sR2_pjt92jUelA0KHKgzNTqQ</string>
	<key>GCM_SENDER_ID</key>
	<string>943234074628</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.foodmap.demeter</string>
	<key>PROJECT_ID</key>
	<string>demeter-9bcd1</string>
	<key>STORAGE_BUCKET</key>
	<string>demeter-9bcd1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:943234074628:ios:e7b2b065249ee22d1e0d51</string>
</dict>
</plist>